.super-mario {
    position: absolute;
    width: 200px;
    z-index: 2;
}
  
.goomba {
    position: absolute;
    width: 100px;
    z-index: 1;
}

.baloon {
    position: absolute;
    left: 310px;
    top: 290px
  }
  
  .speach {
    font-size: 25px;
  }
  
  .bowser {
    position: absolute;
    width: 200px;
    z-index: 4;
    left: 600px;
    top: 400px;
  }

  p {
    position: absolute;
    top: 300px;
    z-index: 3;
    left: 330px;
    top: 330px;
  }